/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea/
*.iml
*.pem
*.der
test-license.json
!/resources/TEST_private_key.der
!/resources/TEST_public_key.der
